* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

a {
 text-decoration: none;
}
img {
 width: 100%;
}

:root {
 --font: 'Maven Pro', sans-serif;
 --second-font: 'Open Sans', sans-serif;
 --green: #63894c;
 --main-orange: #faa00a;
 --section-bgColor: #f2f2f2;
}

/* header  */

header {
 height: max-content;
 background: url('../img/header__bg.png');
 padding: 3rem 0 0 7rem;
}
header div.row {
 height: 100%;
}
header .header-left {
 padding: 2rem 1rem 2rem 3rem;
}
header .header-left h2 {
 font-size: 3.75rem;
 font-weight: 800;
 margin-bottom: 2rem;
}
header .header-left p {
 max-width: 90%;
 font-style: italic;
 line-height: 1.8;
 font-size: 1.5rem;
 font-weight: 400;
}
.btn-global {
 padding: 1rem 2.65rem 1.312rem;
 text-transform: uppercase;
 letter-spacing: 1px;
 font-weight: 700;
 font-size: 0.875rem;
 margin-top: 4rem;
 border-radius: 0.5rem;
 background-color: var(--main-orange);
 border: none;
}
.btn-global:hover {
 background-color: #fff;
 color: var(--main-orange) !important;
}

header .header-right {
 height: 35rem;
 background: url('../img/h_women.jpg');
 background-size: cover;
 background-position: 0% 50%;
}

/* section 1  */

section.section__1 {
 height: 100vh;
 background: url('../img/section_1_img.png');
 background-size: cover;
}

/* section 2  */

section.section__2 {
 height: max-content;
}
section.section__2 .container {
 height: max-content !important;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: max-content;
 gap: 1rem;
}
section.section__2 .container .box {
 padding: 2rem;
 text-align: center;
 position: relative;
 top: -14rem;
}
section.section__2 .container .box h2 {
 font-weight: 900;
 font-size: 3rem;
 text-align: center;
 line-height: 0.8;
 margin-bottom: 0.8rem;
}
section.section__2 .container .box h3 {
 font-weight: 700;
 font-size: 2.25rem;
 line-height: 1.2;
 margin-bottom: 1rem;
}
section.section__2 .container .box p {
 font-size: 1rem;
 line-height: 2;
}
section.section__2 .container .box a {
 border-bottom-style: solid;
 font-weight: 700;
 text-transform: uppercase;
 letter-spacing: 1px;
 font-size: 0.875rem;
 border-width: 2px;
 color: #fff;
}
section.section__2 .container .box a:hover {
 color: #fdd99c;
}
section.section__2 .container .box.box1,
section.section__2 .container .box.box3 {
 background-color: var(--main-orange);
}
section.section__2 .container .box.box2 {
 background-color: var(--green);
}

/* section 3  */

section.section-3 {
 height: max-content;
 padding: 1rem 7rem 4rem;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: max-content;
}
section.section-3 .img__box,
section.section-3 .text__box {
 width: 32rem;
 height: 25rem;
 padding: 1.8rem;
 background-color: var(--main-orange);
 position: relative;
}
section.section-3 .img__box::before {
 content: '';
 width: 3.5rem;
 height: 80%;
 position: absolute;
 right: -6rem;
 background-color: var(--green);
}
section.section-3 .img__box {
 margin-right: 1rem;
 width: 70%;
}
section.section-3 .img__box .img {
 width: 21rem;
 height: 21rem;
 background: url('../img/man1.png');
 background-size: cover;
 background-position: 50% 50%;
 border-radius: 50%;
}
section.section-3 .text__box {
 background-color: transparent;
}
section.section-3 .text__box h3 {
 font-size: 1.875rem;
 font-weight: 700;
}
section.section-3 .text__box p {
 font-size: 1.125rem;
 line-height: 2;
 margin-top: 3rem;
}
section.section-3 .text__box .btn-section-2 {
 margin-top: 0;
}
section.section-3 .text__box .btn-section-2:hover {
 background-color: var(--green);
 color: #fff !important;
}

/* section 4  */

section.section-4 {
 height: 100vh;
 position: relative;
}
section.section-4::before {
 content: '';
 float: left;
 background-color: var(--main-orange);
 width: 7rem;
 height: 100%;
 left: 0;
}
section.section-4 .container-fluid {
 padding-right: 0;
}
section.section-4 .row {
 height: 100vh;
}
section.section-4 .col:first-child {
 width: 43%;
 height: 100%;
 background-color: #fff;
 padding: 3rem 1.8rem 3rem 2.8rem;
 display: flex;
 flex-direction: column;
 place-content: center;
}
section.section-4 .col:first-child h2 {
 font-size: 3rem;
 line-height: 1.2;
 font-weight: 700;
 margin-bottom: 1rem;
}
section.section-4 .col:first-child p {
 line-height: 2;
 font-size: 1.125rem;
 position: relative;
}
section.section-4 .col:first-child p::after {
 content: '';
 width: 6rem;
 height: 6rem;
 border-radius: 50%;
 background-color: var(--main-orange);
 display: block;
 margin-top: 3rem;
 left: 0;
}
section.section-4 .col:nth-child(2) {
 width: 57%;
 background-color: var(--green);
 background: url('../img/women1.png') no-repeat;
 background-size: cover;
 background-position: 50% 70%;
}

/* section 5  */

section.section-5 {
 padding: 5rem 0 4rem;
}
section.section-5 .row .firstCol {
 width: 45%;
 min-height: 40rem;
 background: url('../img/women2.png');
 background-size: 100% 100%;
 background-position: 50% 50%;
}
section.section-5 .row .secondCol {
 width: 55%;
 padding: 0 2rem;
}
section.section-5 .row .secondCol .text-box {
 width: 20rem;
 background-color: var(--green);
 padding: 2rem;
}
section.section-5 .row .secondCol .text-box h4 {
 font-weight: 700;
 text-transform: uppercase;
 font-size: 1.25rem;
 letter-spacing: 4px;
 color: #fff;
 margin-bottom: 2rem;
}
section.section-5 .row .secondCol .text-box li {
 font-size: 1.1rem;
 line-height: 2;
 font-weight: 700;
 color: #fff;
}
.btm-side {
 width: 90%;
 padding: 2rem;
 margin-top: 1rem;
}
.btm-side h2 {
 font-size: 3rem;
 line-height: 1.2;
 font-weight: 700;
}
.btm-side p {
 line-height: 2;
 font-size: 1.1rem;
}
.btm-side button {
 margin-top: 2rem;
}

/* section 6  */

section.section-6 {
 height: max-content;
 background-color: var(--section-bgColor);
 padding: 4rem 7rem;
}

section.section-6 .firstCol__text_box {
 display: flex;
 align-items: flex-start;
}
section.section-6 .firstCol__text_box h2 {
 margin-right: 2rem;
 color: var(--main-orange);
 font-size: 3rem;
 font-weight: 700;
}
section.section-6 .firstCol__text_box p {
 font-size: 1rem;
 line-height: 2;
 max-width: 85%;
}
section.section-6 .secondCol {
 display: flex;
 justify-content: center;
}
section.section-6 .secondCol .box {
 width: 80%;
 height: max-content;
 background-color: #fff;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 1rem 2rem 8rem;
 text-align: center;
}

section.section-6 .secondCol .img__box {
 width: 16rem;
 height: 16rem;
 border-radius: 50%;
 background: url('../img/man2.png') no-repeat;
 background-size: cover;
 background-position: center;
}

section.section-6 .secondCol h2 {
 font-weight: 700;
 margin: 1rem 0 2rem;
}

/* footer  */

footer {
 min-height: 70vh;
 background: url('../img/forest.png') no-repeat;
 background-position: center;
 background-size: cover;
 color: #fff;
 flex-direction: column;
}
footer p,
footer h1 {
 max-width: 50%;
 line-height: 2;
 text-align: center;
}
footer p {
 max-width: 40%;
 font-size: 1.3rem;
}

/* Media Queries  */

@media screen and (max-width: 992px) {
 html {
  font-size: 14px;
 }
 header {
  padding: 3rem 0 0 3rem;
 }
 header .header-right {
  height: 45rem;
  background-position: 50% 50%;
 }
 section.section__2 .container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 1rem;
 }
 section.section-3 {
  grid-template-columns: repeat(1, 1fr);
  place-content: center;
 }
 section.section-3 .img__box,
 section.section-3 .text__box {
  width: 80%;
  margin: 0 auto;
 }
 .btm-side {
  width: 100%;
 }
 section.section-6 .secondCol .img__box {
  width: 14rem;
  height: 14rem;
 }
}

@media screen and (max-width: 768px) {
 html {
  font-size: 12px;
 }
 header .header-right {
  background-position: 20% 50%;
 }
 section.section__1 {
  height: 40rem;
  background: url('../img/section_1_img.png');
  background-size: cover;
  background-position: 20% 50%;
 }
 section.section-3 .img__box {
  width: 100%;
 }
 section.section-3 .img__box,
 section.section-3 .text__box {
  width: 100%;
  margin: 0 auto;
 }
 section.section-4 .col:first-child {
  width: 100%;
  height: 50%;
 }
 section.section-4 .col:nth-child(2) {
  width: 100%;
  height: 50%;
 }
 section.section-4::before {
  width: 5rem;
 }
 section.section-5 .row .firstCol {
  width: 100%;
 }
 section.section-5 .row .secondCol {
  width: 100%;
  padding: 2rem;
 }
 section.section-5 .row .secondCol .text-box {
  width: 100%;
 }
 section.section-6 .secondCol .box {
  width: 100%;
  margin-top: 4rem;
 }
}

@media screen and (max-width: 512px) {
 html {
  font-size: 10px;
 }
 section.section__2 .container {
  grid-template-columns: repeat(1, minmax(25rem, 35rem));
  place-content: center;
 }
 footer p,
 footer h1 {
  font-size: 3rem;
 }
 footer p {
  max-width: 60%;
  font-size: 1.5rem;
 }
}
